/**
 * This injects Tailwind's base styles and any base styles registered by
 * plugins.
 */
@tailwind base;

/**
    * This injects Tailwind's component classes and any component classes
    * registered by plugins.
    */
@tailwind components;

/**
    * This injects Tailwind's utility classes and any utility classes registered
    * by plugins.
    */
@tailwind utilities;

/**
    * Use this directive to control where Tailwind injects the hover, focus,
    * responsive, dark mode, and other variants of each class.
    *
    * If omitted, Tailwind will append these classes to the very end of
    * your stylesheet by default.
    */
@tailwind variants;

/* other css file imports */
@import url('@/components/global/scss/navigation.scss');
@import url('@/components/global/scss/container.scss');
@import url('@/components/global/scss/language.scss');
@import url('@/components/global/scss/header.scss');
@import url('@/components/global/scss/footer.scss');

@import url('@/pages/scss/buymeacoffee.scss');
@import url('@/pages/scss/curve25519.scss');
@import url('@/pages/scss/notfound.scss');
@import url('@/pages/scss/write.scss');
@import url('@/pages/scss/home.scss');

/* CSS variables for reusablity across all files (including above imported) */
:root {
  --playfair-font-display: 'Playfair Display', serif;
  --plus-jakarta-sans-font-display: 'Plus Jakarta Sans', sans-serif;
  --primary-color: #7f2a3c;
  --secondary-color: #c20000;
  --tertiary-color: #121212;
  --white-color: #ffffff;
  --gray-color: #f1f1f1;
  --creamson-color: #fff0de;
  --dim-color: #f9f9f9;
  --dim-red-color: #8b0000;
  --dim-white-color: #ffffffb3;
  --black-200: #020202;
  --black-300: #333333;
  --black-400: #1f1e31;
  --black-500: #555555;
  --gray-100: #888888;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: var(--tertiary-color);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  white-space: pre-line;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
::-webkit-scrollbar {
  display: none;
}
::-webkit-scrollbar {
  display: none;
}
::-moz-selection {
  color: var(--dim-white-color);
  background: var(--secondary-color);
}
::selection {
  color: var(--dim-white-color);
  background: var(--secondary-color);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body,
html {
  -ms-user-select: none;
  -moz-user-select: none;
  -ms-overflow-style: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  user-select: auto;
  overflow-x: hidden;
  scrollbar-width: none;
  scroll-behavior: smooth;
  background-color: var(--white-color);
}
*:focus {
  outline: none !important;
}
body {
  width: 525px;
  margin: 0 auto;
}
a {
  @apply font-semibold;
  color: inherit;
  color: var(--primary-color);
  text-decoration: none;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a:link,
a:visited,
a:active {
  color: var(--secondary-color);
}
a:hover {
  text-decoration: none;
}
.red {
  color: var(--secondary-color);
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.default-input {
  @apply flex
  rounded-md
  shadow-sm
  ring-1
  ring-inset
  ring-gray-300
  focus-within:ring-2
  focus-within:ring-inset
  focus-within:ring-secondary
  w-full
  mt-4;
}
.default-input span {
  @apply paragraph
  flex
  select-none
  items-center
  pl-3;
  @apply font-semibold #{!important};
}
.default-input input {
  @apply paragraph
  block
  flex-1
  border-0
  bg-transparent
  py-1.5
  pl-1
  placeholder:text-gray-400
  focus:ring-0;
}
.default-textarea label {
  @apply block
  ss:text-sm
  text-xs
  font-medium
  ss:leading-6
  leading-3
  text-tertiary
  mt-4;
}
.default-textarea textarea {
  @apply paragraph
  block
  w-full
  rounded-md
  border-0
  py-1.5
  text-tertiary
  shadow-sm
  ring-1
  ring-inset
  ring-gray-300
  placeholder:text-gray-400
  focus:ring-2
  focus:ring-inset
  focus:ring-secondary
  sm:text-sm
  sm:leading-6;
}
.default-textarea .description {
  @apply flex;
}
.default-textarea .description p {
  @apply mt-2;
}
.default-button {
  @apply rounded-md
  bg-secondary
  mt-2
  px-3
  py-1
  ss:text-sm
  text-xs
  font-semibold
  text-white
  shadow-sm
  hover:bg-primary
  focus-visible:outline
  focus-visible:outline-2
  focus-visible:outline-offset-2
  focus-visible:outline-secondary;
}
.paragraph {
  @apply font-normal
  text-tertiary
  ss:text-[13px]
  ss:leading-[20px]
  text-[10.5px]
  leading-[13.5px];
}
.warning-paragraph {
  @apply paragraph
  text-justify
  border
  border-secondary
  border-r-8
  p-2;
  @apply font-semibold #{!important};
}
.info-paragraph {
  @apply paragraph
  border-gray-100
  text-justify
  border
  border-r-8
  p-2;
  @apply font-semibold #{!important};
}
.error-paragraph {
  @apply paragraph ss:mt-[12px] mt-[15.5px] ml-2;
  @apply text-secondary #{!important};
}
.button-paragraph {
  @apply paragraph ss:mt-[12px] mt-[15.5px] ml-2;
}
.pre {
  @apply font-normal
  text-tertiary
  ss:text-[11px]
  ss:leading-[15px]
  text-[8.5px]
  leading-[11px];
}
