section .nav-wrapper {
  background-color: var(--dim-color);
  display: inline-flex;
  border-radius: 7px;
}
section .nav-wrapper .item {
  height: 40px;
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
}
section .nav-wrapper .item:first-child {
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}
section .nav-wrapper .item:last-child {
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}
section .nav-wrapper .item--active {
  opacity: 0.25;
}
@media (min-width: 992px) {
  section .nav-wrapper .item {
    height: 32px;
    width: 40px;
  }
}
@media (hover: hover) and (pointer: fine) {
  section .nav-wrapper .item:hover {
    background-color: var(--gray-color);
  }
}
@media (hover: hover) and (pointer: fine) {
  section .nav-wrapper .item--active {
    cursor: default;
    pointer-events: none;
  }
}
